<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="/css/screen.css"/>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
	<title>Cosmic Race - {{title}}</title>
	{{{_sections.header}}}
</head>
<body class="{{bodyClass}}">
	{{{body}}}
	{{{_sections.scripts}}}
</body>
</html>
